<div class="logo">
  <img src="/assets/Kathy's baKery.jpg" alt="logo" />
</div>
<nav class="nav-menu">
  <ul>
    <li><a href="/user">Home</a></li>
    <li><a href="#">Cart</a></li>
    <li><a href="/menu/new">Add New Item</a></li>
    <!-- <li><a href="/">Login</a></li> -->
  </ul>
</nav>
