<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kathy's baKery</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/public/assets/Kathy's baKery.jpg" alt="logo" />
      </div>
      <nav class="nav-menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Bakery Deliciousness</h2>
      <div>
        <% for(let i = 0; i <a menu.length; i++) { %>

        <a href="/menu/<%= menu[i]._id%>"><%= menu[i].name%></a>

        <% } %>
      </div>
    </main>
  </body>
</html>
