* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.logo img {
  width: 60px;
  height: 60px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: hsl(229, 29%, 29%);
  color: #fff;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu li {
  margin-left: 50px;
  list-style: none;
  text-decoration: none;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
}

.reflection {
  width: 800px;
  height: 433px;
  position: relative;
  background: url('https://images.unsplash.com/photo-1519340333755-56e9c1d04579?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNha2V8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-position: bottom;
  background-size: cover;
  box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
}

.reflection::after {
  content: '';
  background-image: inherit;
  width: inherit;
  height: 100%;
  position: absolute;
  bottom: -100%;
  transform: scaleY(-1);
  background-position: bottom;
  background-size: cover;
  opacity: 0.1;
}

.reflection::after {
  content: '';
  background-image: inherit;
  width: inherit;
  height: 40%;
  position: absolute;
  bottom: -41%;
  transform: scaleY(-1);
}

.reflection::before {
  content: '';
  width: inherit;
  height: 42%;
  position: absolute;
  bottom: -42%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3));
  z-index: 1;
}

/* Index Page */
.index {
  background-color: hsl(229, 29%, 29%);
}

.nav a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.container {
  width: 60%;
  margin: auto;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
}

/* Menu Page*/
.menu-card {
  text-align: center;
  width: 30%;
  margin: 5px auto;
  border-radius: 5px;
  box-shadow: -4px 5px 15px -2px rgba(17, 30, 143, 0.75);
  -webkit-box-shadow: -4px 5px 15px -2px rgba(17, 30, 143, 0.75);
  -moz-box-shadow: -4px 5px 15px -2px rgba(17, 30, 143, 0.75);
}

.menu-card h3 {
  margin-bottom: 5px;
}

.menu-card img {
  width: 200px;
}

.menu-card .buy {
  width: 100%;
  border-radius: 2px;
  /* outline: none; */
  border: none;
}

/* Home Page */
.welcome {
  text-align: center;
}

.welcome h1 {
  font-family: 'Ballet', cursive;
  font-size: 6.7rem;
  letter-spacing: 8px;
  color: hsl(0, 0%, 100%);
}

.welcome p {
  font-size: 24px;
}

/* Show Page Styling */

.menu-items img {
  width: 200px;
  height: 200px;
}

.show-container .menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.menu-items img {
  width: 500px;
  height: 340px;
}

.show-nav {
  margin: 0 auto;
}

/* Edit form */
.edit-body,
.new-menu-body,
.user-new {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* max-width: 1440px; */
}

.bg-img {
  background: url('https://t3.ftcdn.net/jpg/02/24/09/10/360_F_224091066_qKNy0xfbmRIUEKRO0xDr8LB3a7hJekfK.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.edit-container,
.new-container,
.user-container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.edit-container .edit-title,
.new-container .new-title,
.user-container .user-title,
.show-container .show-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

.edit-container .edit-title::before,
.new-container .new-title::before,
.user-container .user-title::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 30px;
  background: hsl(229, 29%, 29%);
}

.edit-container form .menu-details,
.new-container form .new-menu-details,
.user-container form .new-user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .menu-details .input-box,
form .new-menu-details .input-box,
form .new-user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.menu-details .input-box .details,
.new-menu-details .input-box .details,
.new-user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.menu-details .input-box input,
.new-menu-details .input-box input,
.new-user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.menu-details .input-box input:focus,
.menu-details .input-box input:valid {
  border-color: hsl(229, 29%, 29%);
}

.edit-menu .button,
.new-menu .button,
.new-user-form .button {
  width: 200px;
  height: 45px;
  margin: 45px 0;
}

.edit-menu .button input,
.new-menu .button input,
.new-user-form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #30778d, #353c5f);
}

.edit-menu .button input:hover,
.new-menu .button input:hover,
.new-user-form .button input:hover {
  background: linear-gradient(-135deg, #30778d, #353c5f);
}

.edit-menu ion-icon,
.new-user-form ion-icon {
  font-size: 32px;
  color: hsl(229, 29%, 29%);
  margin-top: 25px;
}

/* New */
.new-menu-details .input-box input:focus,
.new-menu-details .input-box input:valid {
  border-color: hsl(229, 29%, 29%);
}

.new-bg {
  background: url('https://img.freepik.com/free-photo/elevated-view-breads-utensils-egg-spices-forming-frame-black-background_23-2147955228.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ion-icon {
  font-size: 32px;
  color: hsl(229, 29%, 29%);
}

/* User New Page */

.user-bg {
  background: url('https://cdnimg.webstaurantstore.com/uploads/buying_guide/2015/2/bakery-equip-article-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-user-details .input-box input:focus,
.new-user-details .input-box input:valid {
  border-color: hsl(229, 29%, 29%);
}
