* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.logo img {
  width: 60px;
  height: 60px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: hsl(229, 29%, 29%);
  color: #fff;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu li {
  margin-left: 50px;
  list-style: none;
  text-decoration: none;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
}

.reflection {
  width: 800px;
  height: 433px;
  position: relative;
  background: url('https://images.unsplash.com/photo-1519340333755-56e9c1d04579?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNha2V8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-position: bottom;
  background-size: cover;
  box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
}

.reflection::after {
  content: '';
  background-image: inherit;
  width: inherit;
  height: 100%;
  position: absolute;
  bottom: -100%;
  transform: scaleY(-1);
  background-position: bottom;
  background-size: cover;
  opacity: 0.1;
}

.reflection::after {
  content: '';
  background-image: inherit;
  width: inherit;
  height: 40%;
  position: absolute;
  bottom: -41%;
  transform: scaleY(-1);
}

.reflection::before {
  content: '';
  width: inherit;
  height: 42%;
  position: absolute;
  bottom: -42%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3));
  z-index: 1;
}

/* Index Page */
.index {
  background-color: hsl(229, 29%, 29%);
}

.nav a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.container {
  width: 60%;
  margin: auto;
}

.menu-card {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid hsl(229, 29%, 29%);
  gap: 10px;
}

/* Home Page */
.welcome {
  text-align: center;
}

.welcome h1 {
  font-family: 'Ballet', cursive;
  font-size: 6.7rem;
  letter-spacing: 8px;
  color: hsl(0, 0%, 100%);
}

/* Show Page Styling */

.menu-items img {
  width: 200px;
  height: 200px;
}
