* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  width: 75px;
  height: 75px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: hsl(229, 29%, 29%);
  color: #fff;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin-left: 50px;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.reflection {
  width: 500px;
  height: 333px;
  position: relative;
  background: url('https://images.unsplash.com/photo-1519340333755-56e9c1d04579?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNha2V8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-position: bottom;
  background-size: cover;
  box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.reflection::after {
  content: '';
  background-image: inherit;
  width: inherit;
  height: 100%;
  position: absolute;
  bottom: -100%;
  transform: scaleY(-1);
  background-position: bottom;
  background-size: cover;
  opacity: 0.5;
}

.reflection::after {
  content: '';
  background-image: inherit;
  width: inherit;
  height: 40%;
  position: absolute;
  bottom: -41%;
  transform: scaleY(-1);
}

.reflection::before {
  content: '';
  width: inherit;
  height: 42%;
  position: absolute;
  bottom: -42%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), white);
  z-index: 1;
}
